@charset "UTF-8";
/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */
/* Containers */
/* Breakpoints */
/* Colors */
/* Typography */
/* Padding */
/* Borders */
/* Buttons */
/* Forms */
/* Tables */
/* Code */
/* Nav */
/* Mixins
  =============== */
/* Reset
  =============== */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

figure,
body {
  margin: 0;
}

/* Scaffolding
  =============== */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont, "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 84% !important;
}

body {
  color: #404040;
  font-size: 1rem;
}

@media (min-width: 850px) {
  body {
    font-size: 1.2rem;
  }
}
p,
ol,
ul,
dl,
table {
  margin: 0 0 1.5rem 0;
  font-size: 1.15rem;
}

@media (min-width: 850px) {
  p,
ol,
ul,
dl,
table {
    margin: 0 0 2rem 0;
    font-size: 1.3rem;
  }
}
ul li p {
  margin: 0;
}

ul li ul {
  margin-bottom: 0;
}
ul li ul li {
  margin-left: 0;
}

ol li ol {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem 0;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  color: #111;
}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
  margin: 0 0 1rem 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 3rem;
}

h1 {
  font-size: 1.75rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
}

@media (min-width: 850px) {
  h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 2rem 0;
  }
  h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
    margin: 0 0 1.5rem 0;
  }

  h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
    margin-top: 3.5rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.3rem;
  }
}
ul {
  padding: 0;
}
ul li {
  position: relative;
  list-style-type: none;
  margin-bottom: 0.3rem;
  padding-left: 1.5rem;
  margin-left: 0.5rem;
}
ul li.task-list-item {
  padding-left: 0;
  margin-left: 0;
}
ul li.task-list-item:before {
  content: "";
}
ul li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: #8d8d8d;
  font-size: 22px;
  line-height: 1.1;
}

@media (min-width: 850px) {
  ul li {
    padding-left: 1.5rem;
    margin-left: 1.5rem;
  }
}
a {
  color: #5183F5;
  text-decoration: none;
  font-weight: 600;
}
a:hover, a:active, a:focus {
  color: #2161f2;
}

.post a:not(.button):not(.anchor):not(.gatsby-resp-image-link),
.page a:not(.button):not(.anchor):not(.gatsby-resp-image-link) {
  border-bottom: 2px solid #e2eafd;
}
.post a:not(.button):not(.anchor):not(.gatsby-resp-image-link):hover,
.page a:not(.button):not(.anchor):not(.gatsby-resp-image-link):hover {
  color: #2161f2;
  background: #f0f4fe;
  border-bottom: 2px solid #2161f2;
}
.post a:not(.button):not(.anchor):not(.gatsby-resp-image-link):active, .post a:not(.button):not(.anchor):not(.gatsby-resp-image-link):focus,
.page a:not(.button):not(.anchor):not(.gatsby-resp-image-link):active,
.page a:not(.button):not(.anchor):not(.gatsby-resp-image-link):focus {
  color: #2161f2;
  background: #f0f4fe;
  border-bottom: 2px dashed #2161f2;
}
.post img,
.page img {
  max-width: 100%;
  height: auto;
}

mark {
  background: #ffeea8;
  padding: 0 0.2rem;
}

strong,
b {
  font-weight: 600;
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}

hr {
  height: 0;
  border: 0;
  border-top: 2px solid #ccc;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0.5rem;
}

[type=checkbox] {
  margin-right: 1rem;
}

/* Helpers
  =============== */
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.green {
  color: #1FC844;
}

.pink {
  color: #ff5a5f;
}

.blue {
  color: #5183F5;
}

.yellow {
  color: #fec623;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Buttons
  =============== */
.button, a.button, button, [type=submit], [type=button] {
  -webkit-appearance: none;
  display: inline-block;
  border: 2px solid #5183F5;
  border-radius: 4px;
  background: #5183F5;
  color: white;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  text-transform: none;
  padding: 0.6rem 0.9rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.button:hover, button:hover, [type=submit]:hover, [type=button]:hover {
  border: 2px solid #0e51ec;
  color: white;
  background: #0e51ec;
  text-decoration: none;
}

.button:focus, .button:active, button:focus, button:active, [type=submit]:focus, [type=submit]:active, [type=button]:focus, [type=button]:active {
  border: 2px solid #0e51ec;
  background: #0e51ec;
  color: white;
  text-decoration: none;
}

.button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner, [type=submit]::-moz-focus-inner, [type=button]::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.button:disabled, a.button:disabled, button:disabled, [type=submit]:disabled, [type=button]:disabled {
  cursor: default;
  pointer-events: none;
}
.button:active, a.button:active, button:active, [type=submit]:active, [type=button]:active {
  transform: scale(0.95);
}

.button.muted-button,
a.button.muted-bottom {
  color: #404040;
  border: 2px solid #e5e5e5;
  background: #e5e5e5;
}
.button.muted-button:hover, .button.muted-button:focus, .button.muted-button:active,
a.button.muted-bottom:hover,
a.button.muted-bottom:focus,
a.button.muted-bottom:active {
  color: #111;
  border: 2px solid #d9d9d9;
  background: #d9d9d9;
}

.donate-button,
a.donate-button {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  border: none;
  background: #5183F5;
  padding: 0.75rem 1rem;
  color: white;
}
.donate-button:hover, .donate-button:focus, .donate-button:active,
a.donate-button:hover,
a.donate-button:focus,
a.donate-button:active {
  background: #2161f2;
  border: none;
  color: white;
}

.twitter-button,
a.twitter-button {
  background: #00aced;
  border: 2px solid #00aced;
}
.twitter-button:hover, .twitter-button:focus, .twitter-button:active,
a.twitter-button:hover,
a.twitter-button:focus,
a.twitter-button:active {
  background: #0099d4;
  border: 2px solid #0099d4;
  color: white;
}

.patreon-button,
a.patreon-button {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #f96854;
  background: #f96854;
  padding: 0 1rem;
  color: #fff !important;
  margin: 0 0.5rem;
}
.patreon-button img,
a.patreon-button img {
  margin: 0;
}
.patreon-button:hover, .patreon-button:focus, .patreon-button:active,
a.patreon-button:hover,
a.patreon-button:focus,
a.patreon-button:active {
  background: #f96854 !important;
  border: 2px solid #f73c23;
  color: #fff !important;
}

@media (min-width: 850px) {
  .button, a.button, button, [type=submit], [type=button] {
    padding: 0.75rem 1.25rem;
  }
}
/* Forms
  =============== */
[type=color], [type=date], [type=email], [type=number], [type=search], [type=text], [type=url], select, textarea {
  display: block;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

[type=color]:hover, [type=date]:hover, [type=email]:hover, [type=number]:hover, [type=search]:hover, [type=text]:hover, [type=url]:hover, select:hover, textarea:hover {
  background: #f7f7f7;
  border: 2px solid #b3b3b3;
}

[type=color]:focus, [type=color]:active, [type=date]:focus, [type=date]:active, [type=email]:focus, [type=email]:active, [type=number]:focus, [type=number]:active, [type=search]:focus, [type=search]:active, [type=text]:focus, [type=text]:active, [type=url]:focus, [type=url]:active, select:focus, select:active, textarea:focus, textarea:active {
  background: #f0f4fe;
  border: 2px solid #5183F5;
}

textarea {
  overflow: auto;
  height: auto;
  line-height: 1.6;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 60px;
  margin: 2rem 0;
}

legend {
  padding: 0 0.5rem;
  font-weight: 600;
}

select {
  color: #404040;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) right center no-repeat;
  line-height: 1;
}

select::-ms-expand {
  display: none;
}

[type=range] {
  width: 100%;
}

label {
  font-weight: 700;
  font-size: 1rem;
  max-width: 100%;
  display: block;
  margin: 1rem 0 0.5rem;
}

.newsletter-form {
  display: flex;
}
.newsletter-form [type=text],
.newsletter-form [type=email] {
  width: 100%;
  max-width: 400px;
  margin-right: 0.5rem;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #9a9a9a;
}

/* Tables
  =============== */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

th {
  border-bottom: 2px solid #ccc;
}

tfoot th {
  border-top: 2px solid #ccc;
}

td {
  border-bottom: 1px solid #ccc;
}

th,
td {
  text-align: left;
  padding: 0.75rem !important;
  hyphens: auto;
  word-break: break-word;
}

caption {
  padding: 60px 0;
  caption-side: bottom;
  color: #ababab;
}

tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background: white;
}
.nav.scroll {
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
}
.nav .cta {
  display: flex;
  align-items: center;
}
.nav .nav-container {
  padding: 0 1.5rem;
  height: 55px;
  max-width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.3s ease;
}
.nav .brand a {
  display: flex;
  align-items: center;
  color: #333;
  margin-right: 0;
  font-weight: 600;
  font-size: 1.1rem;
}
.nav .brand a:hover, .nav .brand a:focus {
  color: black;
}
.nav .brand .text {
  display: none;
}
.nav .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  margin: 0;
}
.nav .links a {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  font-weight: 500;
  padding: 1rem 0.75rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.45);
  line-height: 1.2;
  text-align: center;
}
.nav .links a:hover, .nav .links a:active {
  color: #111;
}

.favicon {
  height: 23px;
  width: 23px;
  margin-bottom: 0;
}

button.dark-switcher {
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  background: transparent;
}
button.dark-switcher:focus {
  outline: none;
}

.theme-icon {
  height: 18px;
  width: 18px;
  margin-bottom: 0;
}

.kofi {
  margin: 0;
  max-width: 30px;
}

@media (min-width: 850px) {
  .nav.scroll .nav-container {
    height: 60px;
  }
  .nav.scroll .links a:hover, .nav.scroll .links a.active {
    color: #111;
    border-bottom: 2px solid #5183F5;
  }
  .nav.scroll .links a:active {
    color: #111;
    border-bottom: 2px dashed #5183F5;
  }
  .nav .nav-container {
    height: 90px;
    padding: 0 2rem;
  }
  .nav .nav-container .brand a {
    font-size: 1.3rem;
  }
  .nav .nav-container .brand .text {
    display: block;
  }
  .nav .nav-container .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: unset;
    height: 100%;
  }
  .nav .nav-container .links a {
    font-size: 1.2rem;
    margin: 0 1rem;
    padding: 1rem 0.5rem;
    border-bottom: 2px solid transparent;
  }
  .nav .nav-container .links a.active {
    color: #111;
  }
  .nav .nav-container a.donate-button {
    padding: 0.5rem 1.25rem;
  }
  .nav .nav-container a.donate-button .text {
    display: block;
  }
  .nav .nav-container a.donate-button .emoji-in-button {
    margin: 0.25rem 0 0 0.75rem;
  }

  .patreon {
    margin: 0;
    border-radius: 4px;
  }

  .kofi {
    margin: 0;
    max-width: 38px;
  }

  .favicon {
    margin-right: 1rem;
  }

  button.dark-switcher {
    margin: 0;
    font-size: 1.4rem;
  }

  .theme-icon {
    height: 22px;
    width: 22px;
    margin-bottom: 0;
  }
}
#main-content {
  margin-top: 55px;
  padding: 40px 0 0;
  min-height: calc(100vh - 162px);
}

@media (min-width: 850px) {
  #main-content {
    margin-top: 92px;
    padding: 60px 0 0;
    min-height: calc(100vh - 219px);
  }
}
.container {
  max-width: 800px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 850px) {
  .container {
    padding: 0 2rem;
  }
}
.lead {
  margin: 0 auto;
  font-size: 1.1rem;
}
.lead a {
  border-bottom: 2px solid #e2eafd;
}
.lead a:hover {
  color: #2161f2;
  background: #f0f4fe;
  border-bottom: 2px solid #2161f2;
}
.lead a:active, .lead a:focus {
  color: #2161f2;
  background: #f0f4fe;
  border-bottom: 2px dashed #2161f2;
}
.lead h1 {
  margin-top: 0;
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
.lead .button {
  margin-right: 0.5rem;
}

@media (min-width: 850px) {
  .lead {
    font-size: 1.2rem;
  }
  .lead h1 {
    font-size: 5rem;
  }
  .lead p {
    font-size: 1.5rem;
    max-width: 550px;
  }
  .lead .button {
    margin-right: 0.5rem;
  }
}
.callouts {
  display: none;
}

@media (min-width: 850px) {
  .callouts {
    display: block;
  }

  a.article-callout {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 4px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    color: #404040;
    font-weight: 500;
    border: none !important;
    padding: 1.5rem;
    margin: 1.5rem 0;
    font-size: 1.5rem;
  }
  a.article-callout:hover, a.article-callout:active, a.article-callout:focus {
    color: #111;
    background: white;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.16);
  }
  a.article-callout img {
    height: 50px;
    width: 50px;
    max-width: 50px;
    margin: 0 1.5rem 0 0;
  }
}
.social-buttons {
  display: flex;
  align-items: center;
}
.social-buttons div:first-of-type {
  margin-right: 0.5rem;
}

.front-page {
  margin-top: 2rem;
}
.front-page h2 {
  border-bottom: 0;
  padding-bottom: 0;
}

.section {
  margin: 40px 0;
}
.section:first-of-type {
  margin-bottom: 0;
}

@media (min-width: 850px) {
  .section {
    margin: 4rem 0;
  }
}
.single .gatsby-image-wrapper {
  height: 50px !important;
  width: 50px !important;
}

@media (min-width: 850px) {
  .single .gatsby-image-wrapper {
    height: 150px !important;
    width: 150px !important;
  }
}
.single-header {
  display: grid;
  margin-bottom: 30px;
}
.single-header.no-thumbnail {
  display: flex;
}
.single-header .flex {
  display: flex;
  flex-direction: column;
}
.single-header h1 {
  margin: 0.5rem 0;
  font-weight: 600;
}
.single-header .post-meta {
  margin-bottom: 1rem;
}

@media (min-width: 850px) {
  .single-header {
    display: grid;
    margin-bottom: 80px;
  }
  .single-header h1 {
    margin: 0 0 0.5rem 0;
  }
}
.post-container {
  display: flex;
}

.posts a {
  display: block;
}
.posts a .each {
  display: grid;
  align-items: center;
  padding: 1rem 0;
  margin: 0;
  border: 2px solid transparent;
  border-bottom: 2px solid #f2f2f2;
}
.posts a .each .date {
  margin: 0;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
}
.posts a:last-of-type .each {
  border-bottom-color: transparent;
}
.posts h2 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.3;
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.posts .gatsby-image-wrapper {
  margin-top: 0;
  height: 40px !important;
  width: 40px !important;
}
.posts .excerpt {
  display: none;
}
.posts.simple a .each {
  align-items: center;
  padding: 0.5rem 0;
  margin: 0;
  border: 2px solid transparent;
}
.posts.simple a .each:hover {
  background: white;
}
.posts.simple .gatsby-image-wrapper {
  margin-top: 0;
  height: 30px !important;
  width: 30px !important;
}
.posts.simple h2 {
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}
.posts.simple h2:hover {
  color: #111;
}

@media (min-width: 850px) {
  .posts {
    margin: 3rem 0;
  }
  .posts a .each {
    align-items: start;
    padding: 1rem 2rem;
    margin: 0 -2rem;
  }
  .posts a .each:hover {
    border-radius: 4px;
    background: #f2f2f2;
  }
  .posts a .each:hoverlast-of-type:hover {
    border-bottom-color: #5183F5;
  }
  .posts a .each:hover h2 {
    color: #111;
  }
  .posts a .each:active, .posts a .each:focus {
    border: 2px dashed #5183F5;
    background: #f0f4fe;
  }
  .posts a .each h2 {
    font-size: 1.3rem;
    line-height: 1.3;
    margin: 0 0 0.25rem 0;
  }
  .posts a .each .gatsby-image-wrapper {
    margin-top: 0;
    height: 50px !important;
    width: 50px !important;
  }
  .posts a .excerpt {
    font-size: 1rem;
    display: block;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
  }
  .posts.simple a .each {
    padding: 0.5rem 1rem;
    margin: 0 -1rem;
  }
  .posts.simple a .each:hover {
    border: 2px solid #f2f2f2;
    background: #f2f2f2;
  }
  .posts.simple a .each:active, .posts.simple a .each:focus {
    border: 2px dashed #5183F5;
    background: #f0f4fe;
  }
  .posts.simple a .each h2 {
    margin: 0;
  }
  .posts.simple a .each .gatsby-image-wrapper {
    height: 30px !important;
    width: 30px !important;
  }
}
h2.publication-company {
  display: flex;
  align-items: center;
}
h2.publication-company img {
  max-height: 50px;
  margin: 0 1rem 0 0;
}

.alert {
  display: none;
  align-self: center;
  justify-self: flex-end;
}
.alert .new {
  display: inline-block;
  font-size: 0.9rem;
  background: #fff5da;
  color: #f7b801;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  text-align: center;
}
.alert .popular {
  display: inline-block;
  font-size: 0.9rem;
  background: #eafcee;
  color: #1FC844;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  text-align: center;
}

@media (min-width: 850px) {
  .alert {
    margin-left: 1rem;
    display: block;
  }
}
.simple-posts a .each {
  padding: 0.5rem 0;
  margin: 0;
  border: 2px solid transparent;
  border-radius: 4px;
}
.simple-posts a .each h2 {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: none;
  display: flex;
  align-items: center;
}
.simple-posts a .each img {
  margin-right: 1rem;
  margin-bottom: 0;
  max-height: 30px;
  max-width: 30px;
}
.simple-posts a .each:hover {
  border: 2px solid #f2f2f2;
  background: #f2f2f2;
}
.simple-posts a .each:hover h2 {
  color: #111;
}

@media (min-width: 850px) {
  .simple-posts a .each {
    padding: 0.5rem 1rem;
    margin: 0 -1rem;
  }
  .simple-posts a .each h2 {
    font-size: 1.3rem;
  }
}
.projects .each {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.projects h2 {
  font-size: 1.2rem;
  border-bottom: none;
  margin: 0 1rem 0 0;
  font-weight: 600;
  color: #111;
  padding: 0;
  min-width: 110px;
}
.projects h2 a {
  display: flex;
  color: #111;
  align-items: center;
}
.projects h2 .project-icon {
  display: inline-block;
  font-size: 2rem;
  margin-right: 1rem;
}
.projects h2 .project-title {
  display: inline-block;
}
.projects p {
  display: none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
  margin: 0;
}
.projects .buttons {
  display: flex;
  align-items: center;
  width: 210px;
  min-width: 210px;
  max-width: 210px;
}
.projects .button {
  margin-right: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

@media (min-width: 850px) {
  .projects .each {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 2px solid #f2f2f2;
  }
  .projects .each:last-of-type {
    border-bottom: none;
  }
  .projects h2 {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    font-size: 1.4rem;
    margin-right: 1rem;
  }
  .projects p {
    display: block;
    flex: 1;
    margin: 0 1.5rem 0 0;
  }
  .projects .button {
    padding: 0.45rem 1.25rem;
    font-size: 0.9rem;
  }
}
.tag-container span {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  background: #f2f2f2;
  border-radius: 4px;
  color: #5a5a5a;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 0.5rem 0.5rem 0;
}
.tag-container span .count {
  color: #ff5a5f;
  font-weight: 700;
  margin-left: 0.25rem;
}
.tag-container span:hover, .tag-container span:active, .tag-container span:focus {
  background: #e5e5e5;
  color: #404040;
}
.tag-container.articles-page-tags {
  margin-bottom: 1rem;
}

@media (min-width: 850px) {
  .tag-container span {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.3rem 0.8rem;
  }
  .tag-container span .count {
    margin-left: 0.5rem;
  }
  .tag-container.articles-page-tags {
    margin-bottom: 2rem;
    display: flex;
  }
  .tag-container.articles-page-tags a {
    flex: 1;
  }
  .tag-container.articles-page-tags a span {
    display: flex;
    justify-content: center;
  }
}
.post-meta {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
}
.post-meta .date {
  margin-right: 0.5rem;
}
.post-meta a {
  color: rgba(0, 0, 0, 0.6);
}
.post-meta a.comment-link, .post-meta a.twitter-link, .post-meta a.github-link {
  margin: 0 0.5rem;
}
.post-meta a:hover {
  color: #5183F5;
}

@media (min-width: 850px) {
  .post-meta {
    font-size: 0.9rem;
  }
}
blockquote {
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid #FED356;
  background: #fff8e4;
  border-radius: 4px;
  font-weight: 500;
  margin: 1.5rem 0;
  padding: 1.5rem;
  line-height: 1.6;
  font-size: 1rem;
}
blockquote.success {
  border: 2px solid #1FC844;
  background: #e1fae7;
}
blockquote.error {
  border: 2px solid #f2777a;
  background: #fce2e3;
}
blockquote p {
  padding: 0;
  font-size: 1.15rem;
}
blockquote p:last-of-type {
  margin-bottom: 0;
}
blockquote a {
  color: #111;
  border-bottom: 2px solid #FED356 !important;
}
blockquote a:hover, blockquote a:active, blockquote a:focus {
  color: #111 !important;
  background: #fff8e4 !important;
}
blockquote cite {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.4);
}
blockquote code {
  margin: 1rem 0 0;
}

@media (min-width: 850px) {
  blockquote {
    padding: 2rem;
  }
  blockquote p {
    font-size: 1.3rem;
  }
  blockquote cite {
    font-size: 2rem;
  }
}
.quotations .quotation {
  border-color: #5183F5;
  background: #5183F5;
  color: white;
}

@media (min-width: 850px) {
  .quotations {
    display: flex;
    flex-wrap: wrap;
  }
  .quotations .quotation {
    margin: 0 0 1rem;
    padding: 2.5rem 2.5rem 4.5rem !important;
    border-radius: 4px;
    flex: 1 1 calc(50% - 2rem);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.08);
    position: relative;
  }
  .quotations .quotation:nth-of-type(2n) {
    margin-left: 1rem;
  }
  .quotations .quotation cite {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
  }
}
.note {
  background: #f2f2f2;
  padding: 2rem 0;
  margin: 1.5rem 0;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}
.note .note-container {
  background: white;
  border-radius: 4px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.16);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.note h2 {
  border-bottom: 0;
}

.avatar {
  max-width: 200px;
  border-radius: 50%;
}

@media (min-width: 850px) {
  .note {
    background: #f2f2f2;
    padding: 2rem 0;
    margin: 1.5rem 0;
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
  }
  .note .note-container {
    flex-direction: row;
  }
  .note .flex-author {
    display: flex;
  }

  .avatar {
    margin-right: 2rem;
  }
}
.search {
  margin-bottom: 0;
}

.filter-count {
  width: 80px;
  text-align: center;
  color: #5183F5;
  font-size: 1.4rem;
  font-weight: 600;
}

@media (min-width: 850px) {
  .note {
    padding: 4rem 0;
    margin: 3rem 0;
  }
  .note .note-container {
    padding: 3rem;
  }
}
.view-all {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.emoji-in-button {
  line-height: 0;
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.category-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.category-container .category-filter {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  padding: 0.5rem 0.75rem;
  background: #ebf1fe;
  border-radius: 4px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #5183F5;
  cursor: pointer;
}
.category-container .category-filter .count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  margin-left: 1rem;
  color: #5183F5;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
}
.category-container .category-filter.active {
  background: #5183F5;
  color: white;
}
.category-container .category-filter.active .count {
  background: white;
}
.category-container .category-filter.active:hover, .category-container .category-filter.active:active, .category-container .category-filter.active:focus {
  color: white;
  background: #2161f2;
}
.category-container .category-filter:last-of-type {
  margin-right: 0;
}
.category-container .category-filter:hover {
  background: #d8e3fd;
  color: #3972f4;
}

@media (min-width: 850px) {
  .category-container {
    margin-bottom: 1.5rem;
  }
  .category-container .category-filter {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
.coffee-icon {
  margin: 0;
  margin-right: 0.5rem;
  max-width: 40px;
  height: auto;
}

.newsletter-section {
  background: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 2.5rem;
}
.newsletter-section form {
  margin-bottom: 0;
}
@media (min-width: 850px) {
  .newsletter-section {
    padding: 3rem;
  }
}

.new-moon-icon {
  display: none;
  float: right;
  max-width: 150px;
  margin-top: 3rem;
  margin-left: 3.5rem;
  margin-bottom: 0;
}
@media (min-width: 850px) {
  .new-moon-icon {
    display: block;
  }
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  color: rgba(0, 0, 0, 0.6);
}
.footer strong {
  margin-right: 1rem;
}
.footer a {
  font-weight: 400;
  color: #a6a6a6;
  display: block;
  margin-right: 1rem;
}
.footer a:hover {
  color: #5183F5;
}

@media (min-width: 850px) {
  .footer {
    height: 100px;
  }
}
iframe {
  margin-bottom: 0;
}

.comments [type=text] {
  width: auto;
  min-width: 300px;
}
.comments .comment {
  margin: 2.5rem 0;
}
.comments .comment:last-of-type {
  border-bottom: 0;
}
.comments .comment.reply {
  background: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 1.5rem;
  margin-left: 2rem;
}
.comments .comment.reply p {
  margin-bottom: 0;
}
.comments .comment header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.comments .comment h2 {
  color: #5a5a5a;
  margin: 0 1rem 0 0;
  font-size: 1.15rem;
  padding: 0;
  border: 0;
}
.comments .comment p {
  font-size: 1.05rem;
  white-space: pre-line;
}
.comments .comment p:last-of-type {
  margin-bottom: 0;
}
.comments .comment-date {
  color: #737373;
  font-size: 1rem;
}
.comments:last-of-type {
  border-bottom: 0;
}

[type=submit]:disabled,
button[disabled] {
  opacity: 0.5;
}
[type=submit]:disabled:hover, [type=submit]:disabled:active, [type=submit]:disabled:focus,
button[disabled]:hover,
button[disabled]:active,
button[disabled]:focus {
  opacity: 0.5;
}

::selection {
  background: rgba(255, 245, 20, 0.8);
  color: #111;
}

/* Code
  =============== */
code {
  font-size: 13px;
}

pre.language-terminal code.language-terminal {
  position: relative;
  padding: 1rem;
  font-family: Menlo, "Roboto Mono", Courier New, monospace;
  border: 1px solid #d8d9da;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  padding-top: 45px;
  margin: 2rem 0;
  font-size: 13px;
  background: white;
  color: #333;
}
pre.language-terminal code.language-terminal::before {
  content: "•••";
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  background: #e1e1e1;
  color: #c2c3c4;
  width: 100%;
  font-size: 2.5rem;
  margin: 0;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
  letter-spacing: -15px;
}

code[class*=language-],
pre[class*=language-],
pre code {
  font-family: Menlo, "Roboto Mono", Courier New, monospace;
  font-size: 13px;
  color: #b3b9c5;
  direction: ltr;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.7;
  font-weight: 400;
  margin: 2rem 0;
  tab-size: 2;
  hyphens: none;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
}

/* Code blocks */
pre code {
  display: block;
  padding: 1.5rem;
  overflow: auto;
  background-color: #333;
  border: 0;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15);
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px white inset;
  color: #333;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 white;
  font-size: 14px;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 3px 5px;
  color: #111111;
}

:not(pre) > code {
  padding: 3px 5px;
  border: none;
  font-family: Menlo, "Roboto Mono", Courier New, monospace;
  font-weight: 400;
  color: #111111;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.06);
}

code[class*=language-css],
code[class*=language-scss],
code[class*=language-less],
code[class*=language-sass] {
  color: #cc99cc;
}

.filename {
  background: #111;
  padding: 0.5rem 1rem 0.75rem;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -2.2rem;
}

@media (min-width: 850px) {
  code,
pre.language-terminal code.language-terminal,
code[class*=language-],
pre[class*=language-],
pre code {
    font-size: 14px;
  }
}
/* Syntax Highlighting */
.token.doctype {
  background: #000000;
  color: #fff;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #777c85;
}

.token.namespace {
  opacity: 0.7;
}

.token.string,
.token.attr-value {
  color: #92d192;
}

.token.punctuation {
  color: #d5d8df;
}

.token.operator {
  color: #ac8d58;
}

.token.variable {
  color: #f2777a;
}

.token.property {
  color: #abb2bf;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.constant,
.token.regex,
.token.inserted {
  color: #fca369;
}

.token.delimiter {
  background: black;
  color: white;
  padding: 1px 2px;
}

.token.atrule {
  color: #62cfcf;
}

.token.keyword {
  color: #ffeead;
}

.language-autohotkey .token.selector {
  color: #fca369;
}

.token.attr-name {
  color: #ffd479;
}

.token.function {
  color: #62cfcf;
}

.language-php .token.function {
  color: white;
}

.token.class-name {
  color: #e1a6f2;
}

.token.deleted,
.language-autohotkey .token.tag {
  color: #f2777a;
}

.token.tag {
  color: #6ab0f3;
}

.language-autohotkey .token.keyword {
  color: #ffeead;
}

.token.selector {
  color: #ffd479;
}

.token.italic {
  font-style: italic;
}

pre[data-line] {
  position: relative;
  padding: 1rem 0;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1rem;
  /* Same as .prism’s padding-top */
  background: rgba(150, 150, 150, 0.1);
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: transparent;
  color: transparent;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  border-radius: 999px;
  text-shadow: none;
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
  content: none;
}

pre::-moz-selection,
pre::-moz-selection,
code::-moz-selection,
code::-moz-selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre::selection,
pre::selection,
code::selection,
code::selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre[class*=language-]::-moz-selection,
pre[class*=language-]::-moz-selection,
code[class*=language-] ::-moz-selection,
code[class*=language-] ::-moz-selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre[class*=language-]::selection,
pre[class*=language-]::selection,
code[class*=language-] ::selection,
code[class*=language-] ::selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

.dark {
  background: #202020;
  color: #b3b9c5;
}
.dark .lead h1 {
  color: #b3b9c5;
}
.dark a {
  color: #81a5f8;
}
.dark a:hover, .dark a:active, .dark a:focus {
  color: #477cf4;
  background: transparent;
}
.dark .lead a {
  border-bottom: 2px solid transparent;
}
.dark .lead a:hover {
  color: #5183F5;
  background: transparent;
  border-bottom: 2px solid #81a5f8;
}
.dark .lead a:active, .dark .lead a:focus {
  background: transparent;
  border-bottom: 2px dashed #81a5f8;
}
.dark .post a:not(.button):not(.anchor):not(.gatsby-resp-image-link),
.dark .page a:not(.button):not(.anchor):not(.gatsby-resp-image-link) {
  border-bottom: 2px solid transparent;
}
.dark .post a:not(.button):not(.anchor):not(.gatsby-resp-image-link):hover,
.dark .page a:not(.button):not(.anchor):not(.gatsby-resp-image-link):hover {
  color: #5183F5;
  background: transparent;
  border-bottom: 2px solid #81a5f8;
}
.dark .post a:not(.button):not(.anchor):not(.gatsby-resp-image-link):active, .dark .post a:not(.button):not(.anchor):not(.gatsby-resp-image-link):focus,
.dark .page a:not(.button):not(.anchor):not(.gatsby-resp-image-link):active,
.dark .page a:not(.button):not(.anchor):not(.gatsby-resp-image-link):focus {
  background: transparent;
  border-bottom: 2px dashed #81a5f8;
}
.dark .post img,
.dark .page img {
  max-width: 100%;
  height: auto;
}
.dark :not(pre) > code {
  background: rgba(255, 255, 255, 0.1);
  color: #b3b9c5;
}
.dark .nav {
  background: #202020;
  border-color: #202020;
}
.dark .nav.scroll {
  background: #131313;
  border-color: #131313;
}
.dark .nav .brand a {
  color: #c1c6d0;
}
.dark .nav .brand a:hover {
  color: #eee;
}
.dark .nav .links a {
  color: #798499;
}
.dark .nav .links a:hover, .dark .nav .links a.active {
  color: #b3b9c5;
}
.dark .note {
  background: transparent;
  border-color: transparent;
}
.dark .note .note-container {
  background: #131313;
}
.dark p,
.dark ul,
.dark ol,
.dark li {
  color: #b3b9c5;
}
.dark h2 {
  border-color: #181818;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5 {
  color: #cecece;
}
.dark .posts.simple a .each {
  border-color: transparent;
}
.dark .posts.simple a .each h2 {
  color: #92969d;
}
.dark .posts.simple a .each:hover {
  background: #303030;
  border-color: #303030;
}
.dark .posts a .each {
  border: 2px solid transparent;
  border-bottom-color: #303030;
}
.dark .posts a .each h2 {
  color: #ccc;
}
.dark .posts a .each:hover {
  background: #303030 !important;
  border-color: #303030;
  background: transparent;
}
.dark .posts a .each:hover h2 {
  color: white;
}
.dark .posts a .excerpt {
  color: #777c85;
}
.dark .simple-posts a .each h2 {
  color: #92969d;
}
.dark .simple-posts a .each:hover {
  border: 2px solid #303030;
  background: #303030;
}
.dark .simple-posts a .each:hover h2 {
  color: white;
}
.dark .tag-container span {
  color: #b3b9c5;
  background: rgba(0, 0, 0, 0.2);
  border: none;
}
.dark .tag-container span .count {
  color: #ff5a5f;
}
.dark .tag-container span:hover, .dark .tag-container span:active, .dark .tag-container span:focus {
  border: none;
  background: #111;
  color: white;
}
.dark .projects h2 {
  color: #b3b9c5;
}
.dark .projects h2 a {
  color: #b3b9c5;
}
.dark .projects p {
  color: #777c85;
}
@media (min-width: 850px) {
  .dark .projects .each {
    border-bottom: 2px solid #282828;
  }
  .dark .projects .each:last-of-type {
    border-bottom: none;
  }
}
.dark .post-meta {
  color: #777c85;
}
.dark th {
  border-bottom: 2px solid #131313;
}
.dark tfoot th {
  border-top: 2px solid #0c0c0c;
}
.dark td {
  border-bottom: 1px solid #0c0c0c;
}
.dark tbody tr:nth-child(even) {
  background-color: #2d2d2d;
}
.dark pre code {
  background: #3a3a3a;
}
.dark blockquote {
  border: 2px solid #393939;
  background: rgba(0, 0, 0, 0.2);
}
.dark blockquote p {
  color: #FED356;
}
.dark blockquote a {
  color: #fff4d5 !important;
  border-bottom: #FED356 !important;
}
.dark blockquote a:hover {
  color: #febf0a !important;
  background: #111 !important;
}
.dark blockquote.quotation {
  border-color: #3a3a3a;
  background: rgba(0, 0, 0, 0.2);
  color: #FED356;
}
.dark blockquote.quotation cite {
  color: rgba(255, 255, 255, 0.6);
}
.dark cite {
  color: rgba(255, 255, 255, 0.4);
}
.dark .footer {
  color: #b3b9c5;
}
.dark .footer strong {
  color: #b3b9c5;
}
.dark .footer a {
  color: #798499;
}
.dark .footer a:hover {
  color: #d0d4db;
}
.dark [type=color], .dark [type=date], .dark [type=email], .dark [type=number], .dark [type=search], .dark [type=text], .dark [type=url], .dark select, .dark textarea {
  color: #b3b9c5;
  border: 2px solid #393939;
  background: #222 !important;
}
.dark [type=color]:hover, .dark [type=date]:hover, .dark [type=email]:hover, .dark [type=number]:hover, .dark [type=search]:hover, .dark [type=text]:hover, .dark [type=url]:hover, .dark select:hover, .dark textarea:hover {
  border: 2px solid #444;
}
.dark [type=color]:active, .dark [type=color]:focus, .dark [type=date]:active, .dark [type=date]:focus, .dark [type=email]:active, .dark [type=email]:focus, .dark [type=number]:active, .dark [type=number]:focus, .dark [type=search]:active, .dark [type=search]:focus, .dark [type=text]:active, .dark [type=text]:focus, .dark [type=url]:active, .dark [type=url]:focus, .dark select:active, .dark select:focus, .dark textarea:active, .dark textarea:focus {
  border: 2px solid #5183F5;
}
.dark .button, .dark a.button, .dark button, .dark [type=submit], .dark [type=button] {
  color: #5183F5;
  border: 2px solid #2161f2;
  background: rgba(0, 0, 0, 0.2) !important;
}
.dark .button:disabled, .dark a.button:disabled, .dark button:disabled, .dark [type=submit]:disabled, .dark [type=button]:disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.3;
}
.dark .button:hover, .dark .button:focus, .dark .button:active, .dark a.button:hover, .dark a.button:focus, .dark a.button:active, .dark button:hover, .dark button:focus, .dark button:active, .dark [type=submit]:hover, .dark [type=submit]:focus, .dark [type=submit]:active, .dark [type=button]:hover, .dark [type=button]:focus, .dark [type=button]:active {
  border: 2px solid #2161f2;
  background: black !important;
  color: #2161f2;
}
.dark .donate-button {
  background: transparent;
}
.dark .new,
.dark .popular {
  background: rgba(0, 0, 0, 0.2);
}
.dark .button.muted-button,
.dark a.button.muted-bottom {
  color: #777c85;
  border: 2px solid #777c85;
}
.dark .button.muted-button:hover, .dark .button.muted-button:focus, .dark .button.muted-button:active,
.dark a.button.muted-bottom:hover,
.dark a.button.muted-bottom:focus,
.dark a.button.muted-bottom:active {
  border: 2px solid #b3b9c5;
  background: transparent;
  color: #b3b9c5;
}
.dark button.dark-switcher {
  border: none !important;
}
.dark pre.language-terminal code.language-terminal {
  border: 1px solid #666;
  background: #111;
  color: #ccc;
}
.dark pre.language-terminal code.language-terminal::before {
  background: #303030;
  color: #888;
}
.dark .newsletter-section {
  border-color: #3a3a3a;
  background: rgba(0, 0, 0, 0.2);
}
.dark .category-container .category-filter {
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 0.5rem;
  font-weight: 600;
  color: #5183F5;
  cursor: pointer;
}
.dark .category-container .category-filter.active {
  background: #5183F5 !important;
  color: white !important;
}
.dark .category-container .category-filter:last-of-type {
  margin-right: 0;
}
.dark .category-container .category-filter:hover {
  background: #111;
  color: #2161f2;
}
.dark .filter-count {
  color: #5183F5;
}
.dark .comments .comment header h2 {
  color: #d6d9df;
}
.dark .comments .comment.reply {
  border: 2px solid #393939;
  background: rgba(0, 0, 0, 0.2);
}
.dark ::selection {
  background: #81a5f8;
  color: white;
}

@font-face {
  font-family: "PerfectDOS";
  src: url("../fonts/PerfectDos.ttf") format("truetype");
}
.not-found {
  background: #000084;
  color: #bbb;
  font-family: "PerfectDOS", "Courier New", monospace;
  font-weight: 400;
  font-size: 16px;
  height: 100vh;
}
.not-found #main-content {
  padding-top: 80px;
  margin: 0;
}
.not-found footer.footer,
.not-found button.dark-switcher {
  display: none;
}
.not-found h1 {
  color: #000;
  background: #bbb;
  box-shadow: 10px 10px 0 #000;
  padding: 10px 20px;
  display: inline-block;
  font-family: "PerfectDOS", "Courier New", monospace;
  font-weight: 600;
  margin-bottom: 40px;
}
.not-found p {
  font-size: 16px;
}
.not-found .list p:not(:last-of-type) {
  margin-bottom: 5px;
}
.not-found .bullet {
  margin-right: 30px;
}
.not-found .tania {
  color: #ffff00;
}
.not-found .nav {
  background: #bbb;
  border-bottom: 2px solid #bbb;
  color: #000;
  height: 30px;
}
.not-found .nav .nav-container {
  padding: 0;
  height: 30px;
}
.not-found .nav .nav-container .brand {
  display: flex;
  align-items: center;
}
.not-found .nav .nav-container .brand a {
  height: 30px;
}
.not-found .nav .nav-container .links,
.not-found .nav .nav-container .brand {
  height: 30px;
}
.not-found .nav .nav-container .links a,
.not-found .nav .nav-container .brand a {
  border-radius: 0;
  color: #000;
  font-weight: 600;
  padding: 0 5px;
  margin: 0;
  line-height: 0;
  font-size: 16px;
}
.not-found .nav .nav-container .links a:hover, .not-found .nav .nav-container .links a:active, .not-found .nav .nav-container .links a:focus,
.not-found .nav .nav-container .brand a:hover,
.not-found .nav .nav-container .brand a:active,
.not-found .nav .nav-container .brand a:focus {
  background: #000;
  color: #bbb;
}
.not-found .nav .nav-container a.donate-button {
  display: none;
  background: #00aaaa;
  border: none;
  color: #eee;
  border-radius: 0;
  height: 30px;
}
.not-found .nav .nav-container a.donate-button:hover, .not-found .nav .nav-container a.donate-button:active, .not-found .nav .nav-container a.donate-button:focus {
  background: #000;
  border: none;
  color: white;
}

@media (min-width: 900px) {
  .not-found {
    font-size: 24px;
  }
  .not-found #main-content {
    padding-top: 160px;
  }
  .not-found .nav .nav-container .links a,
.not-found .nav .nav-container .brand a {
    font-size: 24px;
    padding: 0 15px;
  }
  .not-found .nav .nav-container a.donate-button {
    display: flex;
  }
  .not-found p {
    font-size: 24px;
  }
  .not-found img {
    display: none;
  }
  .not-found .emoji {
    display: none;
  }
}
.blink {
  animation: blinkingText 0.8s infinite;
}

@keyframes blinkingText {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
