{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <hr class="border-gray-200 mt-4 mb-4">
    <section class="posts">
        {{ range .Site.Data.blogroll }}
            {{ range sort . "url" }}
                <a class="text-gray-900" href="{{ .url }}">
                    <div class="each">
                        <div>
                            <h2>{{ .name }}</h2>
                            <div class="excerpt">{{ .description }}</div>
                        </div>
                    </div>
                </a>
            {{ end }}
        {{ end }}
    </section>
{{end}}