.sidebar
  line-height 1.5em
  @media screen and (max-width: 900px)
    float none
    width 100%

  .widget
    word-wrap break-word

    .entry
      font-size 1.1em
      padding 5px 20px
	  li
	    padding 1px 0px 0px 10px


  .search
    margin-bottom 30px
    input
      background #fff
      font-family font-title
      font-style italic
      font-size 1em
      padding 10px 15px
      border 1px solid color-border
      width 100%
      box-sizing border-box
      color color-meta
      &:focus
        color color-font

  .tag
    small
      margin-left 10px
      color color-meta
      &:before
        content '('
      &:after
        content ')'


  .tagcloud
    .entry
      padding-right 5px
    a
      margin-right 10px
      display inline-block
