.entry
  font-family font-default
  .gist
    background #eee
    border 1px solid color-border
    margin-top 15px
    padding 7px 15px
    border-radius 2px
    text-shadow 0 0 1px #fff
    line-height 1.6
    overflow auto
    color #666
    .gist-file
      border none
      //font-family inherit
      margin 0
      font-size 0.9em
      .gist-data
        background none
        border-bottom none
        pre
          padding 0 !important
          //font-family font-mono

      .gist-meta
        background none
        color color-meta
        margin-top 5px
        padding 0
        text-shadow 0 0 1px #fff
        font-size 100%
        a
          color color-link
          &:visited
            color color-link

figure.highlight
  background #eee
  border 1px solid color-border
  margin-top 15px
  padding 7px 15px
  border-radius 2px
  text-shadow 0 0 1px #fff
  line-height 1.6
  overflow auto
  position relative
  font-family font-default
  font-size 0.8em
  figcaption
    color color-meta
    margin-bottom 5px
    text-shadow 0 0 1px #fff
    a
      position absolute
      right 15px

  pre
    border none
    padding 0
    margin 0
    white-space pre 

  table
    margin-top 0
    border-spacing 0

  .gutter
    color color-meta
    padding-right 10px
    border-right 1px solid color-border
    text-align right

  .code
    padding-left 15px
    border-left 1px solid #fff
    color #666

pre
  // Theme: Solarized - Light
  // More theme here: http://softwaremaniacs.org/media/soft/highlight/test.html
  color #666
  font-family font-default
  font-size 13px

  .label
  .comment
  .template_comment
  .diff .header
  .doctype
  .pi
  .lisp .string
  .javadoc
    color #808080

  .keyword
  .winutils
  .method
  .addition
  .css .tag
  .request
  .status
  .nginx .title
    //color #859900
    color #428BCA

  .number
  .command
  .string
  .tag .value
  .phpdoc
  .tex .formula
  .regexp
  .hexcolor
    //color #2aa198
    color #DD1144

  .title
  .localvars
  .chunk
  .decorator
  .built_in
  .identifier
  .vhdl
  .literal
  .id
    //color #268bd2
    color #1E347B

  .attribute
  .variable
  .lisp .body
  .smalltalk .number
  .constant
  .class .title
  .parent
  .haskell .type
    //color #b58900
    color #008080

  .preprocessor
  .preprocessor .keyword
  .shebang
  .symbol
  .symbol .string
  .diff .change
  .special
  .attr_selector
  .important
  .subst
  .cdata
  .clojure .title
    color #cb4b16

  .deletion
    color #dc322f

code
  font-family font-default
  .label
    font-size 100%
