{{ $path := printf "static%scomments.json" .RelPermalink }}
{{ $exists := fileExists $path }}
{{ $scratch := newScratch }}
{{ if fileExists $path }}
    {{ $scratch.Add "data" (getJSON $path) }}
    {{ $scratch.Add "length" (len ($scratch.Get "data")) }}
{{ else }}
    {{ $scratch.Add "length" 0 }}
{{ end }}
<div id="gitalk-container">
    <div class="gt-container">
        <div class="gt-meta">
            <span class="gt-counts">{{ $scratch.Get "length" }} comments</span>
        </div>

        <div class="gt-header">
            <a class="gt-avatar-github"><span class="gt-avatar gt-comment-avatar"><img src="https://www.gravatar.com/avatar/"></span></a>
            <div class="gt-header-comment">
                <form class="gt-header-form">
                    <input class="gt-header-input" type="text" placeholder="Name" required>
                    <input class="gt-header-input" type="email" placeholder="Email" required>
                    <textarea class="gt-header-textarea" placeholder="Leave a comment"></textarea>
                </form>

                <div class="gt-header-controls">
                    <button class="gt-btn"><span class="gt-btn-text">Submit</span></button>
                </div>
            </div>
        </div>

        <div class="gt-comments">
            {{ range $index, $comments := $scratch.Get "data" }}
                <div class="gt-comment gt-comment-admin">
                    <div class="gt-avatar gt-comment-avatar">
                        <img src="https://www.gravatar.com/avatar/{{ .email }}">
                    </div>
                    <div class="gt-comment-content">
                        <div class="gt-comment-header">
                            <a class="gt-comment-username" href="https://github.com/booxood">{{ .name }}</a>
                            <span class="gt-comment-text">commented</span>
                            <span class="gt-comment-date">{{ time (int .created_at) }}</span>
                        </div>
                        <div class="gt-comment-body markdown-body">
                            {{ .content | markdownify }}
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</div>