{{ if (and .Site.DisqusShortname (not .Site.IsServer)) }}
<div id="disqus_thread"></div>
<script type="application/javascript">
  let disqus_config = function () {
    this.page.identifier = '{{ .RelPermalink }}';
    this.page.title = '{{ .Title }}';
    this.page.url = '{{ .Permalink }}';
  };
  (function () {
    let d = document, s = d.createElement('script');
    s.async = true;
    s.src = '//{{ .Site.DisqusShortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{end}}
