.archives-wrap
  margin: block-margin 0

.archives
  clearfix()

.archive-year-wrap
  margin-bottom: 1em

.archive-year
  @extend $block-caption

.archives
  column-gap: 10px
  @media mq-tablet
    column-count: 2
  @media mq-normal
    column-count: 3

.archive-article
  avoid-column-break()

.archive-article-inner
  @extend $block
  padding: 10px
  margin-bottom: 15px

.archive-article-title
  text-decoration: none
  font-weight: bold
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link

.archive-article-footer
  margin-top: 1em

.archive-article-date
  color: color-grey
  text-decoration: none
  font-size: 0.85em
  line-height: 1em
  margin-bottom: 0.5em
  display: block

#page-nav
  clearfix()
  margin: block-margin auto
  text-align: center
  color: color-grey
  overflow: hidden
  a, span
    line-height: 1
    height: 43px
    text-align: center
    line-height: 45px
    font-weight: 600
    border-radius: 4px
    transition: color, background 0.2s
  a
    color: color-grey
    text-decoration: none
    &:hover
      background: #e8e8e8
  .prev
    float: left
    width: 64px
  .next
    float: right
    width: 64px
  .page-number
    display: inline-block
    margin-right: 5px
    background: #f6f6f6
    color: #a6a6a7
    width: 43px
    @media mq-mobile
      display: none
  .current
    font-weight: bold
    background: color-nav-background
    color: white
  .space
    color: color-border