#footer
  background: color-footer-background
  padding: 50px container-padding
  border-top: 1px solid color-border
  color: color-grey
  margin-top: 100px
  opacity: 0
  transition: opacity 0.2s ease-in
  &.open
    opacity: 1
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height - 8
  .logo
    margin-bottom: 20px