@media mq-tablet
  #sidebar
  	display: none
  #main
  	width: 100%
  #header
    margin: 0px
    #main-nav
      z-index: 1
      opacity: 1
      transition: opacity 0.2s ease-in
      &.off
        opacity: 0
    #sub-nav
      position: absolute
      right: 0
      z-index: 1
    #nav-search-btn
      display: inline-block
    #search-form-wrap
      .search-form-input
        transition: 0.2s ease-in
        width: 0px
        opacity: 0
      &.on
        .search-form-input
          width: search-form-input-width
          opacity: 1
  #footer
    margin-top: 0px