{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}

<main id="main-content">
    <div class="container">
        <div class="lead">
            <h1>Hi, I'm Xuanwo</h1>
            <p>效率研发工程师</p>
            <p>专注于团队，工程，用户的效率提升</p>
        </div>
    </div>
    <div class="container front-page">
        {{ $categories := slice "Code" "Daily" "Game" "Travel" }}
        {{ range $value := $categories }}
        <section class="section">
            <h2>Articles on {{ $value }}</h2>
            <section class="posts simple">
                {{range first 5 (where $.Site.Pages "Params.categories" $value) }}
                <a href="{{ .RelPermalink }}">
                    <div class="each">
                        <div>
                            <h2> {{ .Title }}</h2>
                        </div>
                    </div>
                </a>
                {{ end }}
            </section>
        </section>
        {{ end }}
    </div>
</main>

{{ partial "footer.html" . }}

</body>
</html>
