{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}

<main id="main-content">
    <div class="container">
        <div class="lead">
            <h1>Hi, I'm Xuanwo</h1>
            <p>后端研发工程师</p>
            <p>目前专注于工程效率方向</p>
            <p>感兴趣的领域为自动化与分布式系统</p>
        </div>
    </div>
    <div class="container front-page">
        <section class="section">
            <h2>最新文章</h2>
            <section class="posts simple">
                {{ range first 10 .Site.RegularPages }}
                <a href="{{ .RelPermalink }}">
                    <div class="each">
                        <div>
                            <h2> {{ .Title }}</h2>
                        </div>
                    </div>
                </a>

                {{ end }}
            </section>
        </section>
    </div>
</main>

{{ partial "footer.html" . }}

{{ $github := resources.Get "javascript/github.js" | resources.Minify | resources.Fingerprint }}
{{ if .Site.IsServer }}
<script src="{{ $github.Permalink }}" defer></script>
{{ else }}
<script src="{{ $github.Permalink }}" integrity="{{ $github.Data.Integrity }}" defer></script>
{{ end }}

</body>
</html>
