<header id="header">
  <div id="header-outer" class="outer">
    <div id="header-inner" class="inner">
      <a id="main-nav-toggle" class="nav-icon" href="javascript:;">
              <svg width="1em" height="1em" viewBox="0 0 100 100"><use xlink:href="/svg/fontawesome.svg#bars"></use></svg>
            </a>
      <a id="logo" class="logo-text" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      <nav id="main-nav">
        {{ range .Site.Menus.main }}
        <a class="main-nav-link" href="{{ .URL }}">{{ .Name }}</a> {{ end }}
      </nav>
    </div>
  </div>
</header>
