<% page.posts.each(function(item){ %>
  <%- partial('_partial/article', {item: item, index: true}) %>
<% }); %>

<% if (page.per_page >= 1) { %>
	<%- partial('_partial/pagination') %> 
<% } %>

<% if (is_home() == true) { %>
	<!--Sidebar content-->
	<div class="sidebar">
		<%- partial('_partial/sidebar') %>
	</div>
<% } %>
