#footer
  margin: 3em 0
  font-size: 70%
  display: block
  *zoom: 1
  line-height: 1.6
  &:after
    display: block
    visibility: hidden
    font-size: 0
    height: 0
    clear: both
    content: "."
  .footer-blog-title
    float: left
    display: inline-block
    text-transform: uppercase
    font-size: 120%
    padding-bottom: .2em
    letter-spacing: .2em
    margin: 1em 1.5em 0 0
    border-bottom: 3px solid color-footer
    a
      position: relative
      left: .1em
      padding: .4em 0
      color: color-footer
    &:hover
      border-color: color-link
      a
        color: color-link
  .copyright
    display: block