{{ partial "head.html" . }}

<body>
{{ partial "header.html" . }}

<main id="main-content">
    <div class="container">
        <h1>{{ .Title }}</h1>
        <div class="post">
            {{ .Content }}
        </div>
    </div>
</main>
{{ partial "footer.html" . }}

{{ $github := resources.Get "javascript/github.js" | resources.Minify | resources.Fingerprint }}
{{ if .Site.IsServer }}
<script src="{{ $github.Permalink }}" defer></script>
{{ else }}
<script src="{{ $github.Permalink }}" integrity="{{ $github.Data.Integrity }}" defer></script>
{{ end }}
</body>
</html>
