{{ partial "head.html" . }}

<body>
{{ partial "header.html" . }}

<main id="main-content">
    <div class="container">
        <h1>{{ .Title }}</h1>
        <div class="search-container">
            <input class="search" id="searchTerm" type="text" name="searchTerm" placeholder="input here for filter..." value="" data-com.onepassword.iv="" oninput="search()">
        </div>
        <section class="posts">
            {{ range .Site.RegularPages }}
            <a href="{{ .RelPermalink }}">
                <div class="each">
                    <div>
                        <h2>{{ .Title }}</h2>
                        <div class="excerpt">{{ .Date.Format "2006 Jan 2" }}</div>
                    </div>
                </div>
            </a>
            {{ end }}
        </section>
    </div>
</main>

{{ partial "footer.html" . }}
<script>
  function search() {
    let input = document.getElementById("searchTerm");
    let filter = input.value.toUpperCase();
    let posts = document.getElementsByClassName("each");
    for (let v of posts) {
      let title = v.innerHTML;
      if (title.toUpperCase().indexOf(filter) > -1) {
        v.style.display = ""
      } else {
        v.style.display = "none"
      }
    }
  }
</script>
</body>
</html>
