{{ partial "head.html" . }}

<body>
{{ partial "header.html" . }}

<main id="main-content">
    <div class="container">
        <h1>{{ .Title }}</h1>
        <section class="posts">
            {{ range .Site.Data.blogroll }}
            {{ range sort . "url" }}
            <a href="{{ .url }}">
                <div class="each">
                    <div>
                        <h2>{{ .name }}</h2>
                        <div class="excerpt">{{ .description }}</div>
                    </div>
                </div>
            </a>
            {{ end }}
            {{ end }}
        </section>
    </div>
</main>

{{ partial "footer.html" . }}
</body>
</html>
