*
  margin 0
  //padding 0

body
  //background color-background
  color color-font
  font-family font-default
  font-size 14px
  text-shadow 0 0 1px transparent
  @media screen and (max-width: 1260px)
    margin 0 30px
  @media screen and (max-width: 600px)
    font-size 13px

a
  text-decoration none
  color color-link
  &:hover
    text-decoration underline

.alignleft
  float left

.alignright
  float right

.clearfix
  clearfix()

// 中间显示
.container
  margin 0 auto
  max-width 760px
