<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}
<body class="min-h-full max-w-4xl font-sans mx-4 lg:mx-auto xl:mx-auto leading-normal my-8">
{{- partial "header.html" . -}}
<main class="flex-1 text-gray-900">
    {{- block "main" . }}{{- end }}
</main>

<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.js" integrity="sha256-qybEsgf0PGiQS22AmoozPs09oRnSC7Gu7eBu4fbS2Ac=" crossorigin="anonymous"></script>
<script>
    docsearch({
        apiKey: '27c0e8392eb621350efc7697346e28d5',
        indexName: 'xuanwo_blog',
        appId: '6ETF8NL8HG',
        inputSelector: '#search',
        debug: false,
    });
</script>
</body>
</html>