{{ define "main" }}
    <div class="container">
        <h1>
            <u>{{ .Title }}</u>
        </h1>
        <section class="posts">
            {{ range .Paginator.Pages }}
                <a href="{{ .RelPermalink }}">
                    <div class="each">
                        <div>
                            <h2>{{ .Title }}</h2>
                            <div class="excerpt">{{ .Date.Format "2006 Jan 2" }}</div>
                        </div>
                    </div>
                </a>
            {{ end }}
        </section>
    </div>
{{ end }}