{{ define "main" }}
    <div class="container py-16 mx-auto">
        <h1>{{ .Title }}</h1>
        <p>{{.Params.description}}</p>
        <ul>
            {{ range .Paginator.Pages }}
                <li class="hover:bg-gray-100 border-4 border-transparent rounded">
                    <p class="p-1 lg:p-2">
                        <a class="text-black" href="{{ .RelPermalink }}">
                            <span class="text-gray-500 pr-8">{{ .Date.Format "2006-01-02" }}</span>{{ .Title }}
                        </a>
                    </p>
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}
