{{ define "main" }}
    <article class="container pt-8">
        {{ $Site := .Site }}
        <header class="pb-4 mb-8 border-b">
            <h1 class="my-2 text-black leading-tight">{{ .Title }}</h1>
        </header>
        <div class="post-content">
            {{ .Content }}
        </div>
        {{ $pagename := .Page.Title }}
        <div class="text-center pt-4 grid grid-cols-12">
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    {{ with index $.Params $taxonomyname }}
    {{ with ($.Site.GetPage (printf "/%s" $taxonomyname)) }}
            <div class="col-span-2">
                <p>{{ i18n $taxonomyname }}</p>
            </div>
            <div class="col-span-10">
                <p>
                    {{ range $key, $value := $taxonomy }}
                        {{ range $value.Pages }}
                            {{ if eq .LinkTitle $pagename }}
                                {{ with $.Site.GetPage (printf "/%s/%s" $taxonomyname (urlize $key)) }}
                                    <a class="inline-block border border-blue-600 px-2 rounded" href="{{ .RelPermalink }}"> {{ $key }} </a>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </p>
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
        <hr class="border-gray-200 mt-10 mb-4">
        {{ partial "comment.html" . }}
    </article>

{{ end }}
