/* Code
  =============== */

code {
  font-size: 13px;
  padding: 1rem;
}

code[class*='language-'],
pre[class*='language-'],
pre code {
  font-family: $code-font-family;
  font-size: 13px;
  color: $code-font-color;
  direction: ltr;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.7;
  font-weight: 400;
  margin: 2rem 0;
  tab-size: 2;
  hyphens: none;
  border-radius: $border-radius;
  -webkit-font-smoothing: antialiased;
}

/* Code blocks */

pre code {
  display: block;
  padding: 1.5rem;
  overflow: auto;
  background-color: #f0f0f0;
  border: 0;
  color: #111111;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.15);
}

/* Inline code */

:not(pre) > code[class*='language-'] {
  padding: 3px 5px;
  color: #111111;
}

:not(pre) > code {
  padding: 3px 5px;
  border: none;
  font-family: $code-font-family;
  font-weight: 400;
  color: #111111;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.06);
}

@include small-breakpoint {
  code,
  pre.language-terminal code.language-terminal,
  code[class*='language-'],
  pre[class*='language-'],
  pre code {
    font-size: 14px;
  }
}
