---
export const prerender = true

import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="404" urlPath="/404.html">
  <div class="single container">
    <div class="text-center">
      <h1>404</h1>
    </div>
    <p>
      A fatal exception 0E has occurred at <span class="tania">0x74616e6961</span> in 404:
      page not found.
    </p>
    <div class="list">
      <p>
        <span class="bullet">*</span> Click any link to terminate the current application.
      </p>
      <p>
        <span class="bullet">*</span> Press ALT + F4 again to restart your browser. You will lose
        any unsaved information in all tabs.
      </p>
    </div>
    <p class="text-right">
      Click any link to continue<span class="blink">&#9608;</span>
    </p>
  </div>
</BaseLayout>

