.page-post-detail {

  .site-overview {
    display: none;
    margin-top: 20px;
  }

  .comments {
    overflow: hidden;
  }
}

.copyright {
  width: 85%;
  margin: 0px auto;
  max-width: 45em;
  word-break: break-all;
  font-size: .93em;
  line-height: 1.6em;
  padding: .5em 1.8em;
  background: rgba(255, 255, 255, .4)
  border: 1px solid lightgray;
  span {
    color: #B5B5B5;
    font-weight: bold;
    margin-right: 1em;
  }
  a {
    color: gray;
    &:hover {
      font-weight: bold;
      color: #a3d2a3;
      text-decoration: underline;
    };
  }
 }
