.back-to-top {
  position: fixed;
  bottom: 19px;
  right: 50px;
  z-index: $zindex-5;
  width: 45px;
  height: 45px;
  padding: 5px;
  background: $black-deep;
  color: white;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  border-radius: 45px;
  box-shadow: 5px 5px 5px #888888;

  +mobile() {
    display: none;
  }
  +tablet() {
    display: none;
  }

  &:before {
    display: block;
    content: " ";
    margin-top: 2px;
    width: 0;
    height: 0;
    border-width: 0 21px 35px 21px;
    border-color: transparent transparent white transparent;
    border-style: solid;
  }
}
