#article-nav
  clear: both
  zoom: 1
  position: relative

#article-nav:before,
#article-nav:after
  content: ""
  display: table

#article-nav:after
  clear: both

@media screen and (min-width: 768px)
  #article-nav
    margin: 6em 0 50px 0
  
  #article-nav:before
    width: 8px
    height: 8px
    position: absolute
    top: 50%
    left: 50%
    margin-top: -4px
    margin-left: -4px
    content: ""
    -webkit-border-radius: 50%
    border-radius: 50%
    background: #ddd
    -webkit-box-shadow: 0 1px 2px #fff
    box-shadow: 0 1px 2px #fff
  

.article-nav-link-wrap
  text-decoration: none
  text-shadow: 0 1px #fff
  color: #999
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  margin-top: 50px
  text-align: center
  display: block

.article-nav-link-wrap:hover
  color: #555

@media screen and (min-width: 768px)
  .article-nav-link-wrap
    width: 50%
    margin-top: 0
  

@media screen and (min-width: 768px)
  #article-nav-newer
    float: left
    text-align: right
    padding-right: 20px
  

@media screen and (min-width: 768px)
  #article-nav-older
    float: right
    text-align: left
    padding-left: 20px
  

.article-nav-caption
  text-transform: uppercase
  letter-spacing: 2px
  color: #ddd
  line-height: 1em
  font-weight: bold

#article-nav-newer .article-nav-caption
  margin-right: -2px

.article-nav-title
  font-size: 0.85em
  line-height: 1.6em
  margin-top: 0.5em
