$link
  color: color-default
  text-decoration: none
  border-bottom: 1px dotted transparent
  &:hover
    border-bottom-color: black

$link-highlight
  @extends $link
  border-bottom: 1px dotted black

a
  color: color-link
  text-decoration: none

  &:hover
    color: #2a8998

strong, b
  font-weight: bold

em
  font-style: italic

code
  text-shadow: 0 1px #fff
  padding: 0 0.3em

del
  text-decoration: line-through

sub, sup
  font-size: 75%
  line-height: 0
  position: relative

:root sub, :root sup
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.2em

acronym, abbr
  border-bottom: 1px dotted
  font-variant: normal

abbr
  cursor: help

h1, h2, h3, h4, h5, h6
  color: color-title
  font-weight: bold
  a
    color: color-title
    text-decoration: none
    &:hover
      color: color-title

pre, code
  font-family: font-mono
  font-size 1em

.left, .alignleft
  float: left

.right, .alignright
  float: right