.entry-content
  .gist
    background color-code
    border 1px solid color-border
    margin-top 15px
    padding 7px 15px
    border-radius 2px
    text-shadow 0 0 1px #fff
    line-height 1.6
    overflow auto
    color #666
    .gist-file
      border none
      font-family inherit
      margin 0
      font-size 0.9em
      .gist-data
        background none
        border-bottom none
        pre
          padding 0 !important
          font-family font-mono

      .gist-meta
        background none
        color color-meta
        margin-top 5px
        padding 0
        text-shadow 0 0 1px #fff
        font-size 100%
        a
          color color-link
          &:visited
            color color-link

figure.highlight
  background color-code
  border 1px solid color-border
  margin 0
  padding 7px 15px
  border-radius 2px
  text-shadow 0 0 1px #fff
  line-height 1.6
  overflow auto
  position relative
  font-size 0.9em
  figcaption
    color color-meta
    margin-bottom 5px
    text-shadow 0 0 1px #fff
    a
      position absolute
      right 15px

  pre
    background none
    border none
    padding 0
    margin 0

  table
    margin-top 0
    border-spacing 0

  th
    font-weight: normal
    border-bottom: 0
    padding-bottom: 0

  td
    border-bottom: 0
    padding: 0

  .gutter
    color color-meta
    padding-right: 20px
    text-align left

  .code
    border-left 1px solid #fff
    color #666

pre
  /*
  github.com style (c) Vasily Polovnyov <vast@whiteants.net>
  */
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
    -webkit-text-size-adjust: none;
  }

  .hljs-comment,
  .diff .hljs-header {
    color: #998;
    font-style: italic;
  }

  .hljs-keyword,
  .css .rule .hljs-keyword,
  .hljs-winutils,
  .nginx .hljs-title,
  .hljs-subst,
  .hljs-request,
  .hljs-status {
    color: #333;
    font-weight: bold;
  }

  .hljs-number,
  .hljs-hexcolor,
  .ruby .hljs-constant {
    color: #008080;
  }

  .hljs-string,
  .hljs-tag .hljs-value,
  .hljs-doctag,
  .tex .hljs-formula {
    color: #d14;
  }

  .hljs-title,
  .hljs-id,
  .scss .hljs-preprocessor {
    color: #900;
    font-weight: bold;
  }

  .hljs-list .hljs-keyword,
  .hljs-subst {
    font-weight: normal;
  }

  .hljs-class .hljs-title,
  .hljs-type,
  .vhdl .hljs-literal,
  .tex .hljs-command {
    color: #458;
    font-weight: bold;
  }

  .hljs-tag,
  .hljs-tag .hljs-title,
  .hljs-rule .hljs-property,
  .django .hljs-tag .hljs-keyword {
    color: #000080;
    font-weight: normal;
  }

  .hljs-attribute,
  .hljs-variable,
  .lisp .hljs-body,
  .hljs-name {
    color: #008080;
  }

  .hljs-regexp {
    color: #009926;
  }

  .hljs-symbol,
  .ruby .hljs-symbol .hljs-string,
  .lisp .hljs-keyword,
  .clojure .hljs-keyword,
  .scheme .hljs-keyword,
  .tex .hljs-special,
  .hljs-prompt {
    color: #990073;
  }

  .hljs-built_in {
    color: #0086b3;
  }

  .hljs-preprocessor,
  .hljs-pragma,
  .hljs-pi,
  .hljs-doctype,
  .hljs-shebang,
  .hljs-cdata {
    color: #999;
    font-weight: bold;
  }

  .hljs-deletion {
    background: #fdd;
  }

  .hljs-addition {
    background: #dfd;
  }

  .diff .hljs-change {
    background: #0086b3;
  }

  .hljs-chunk {
    color: #aaa;
  }