// Colors
color-default = #4f5759
color-title = #222
color-border = #ddd
color-link = #33a6b8
color-background = #fff
color-meta = #999
color-footer = #777


// Fonts
font-sans = 'Helvetica','Arial',"Microsoft YaHei", "微软雅黑",sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Menlo, Consolas, Monaco, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "//cdn.staticfile.org/font-awesome/4.2.0/fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 100%
line-height = 2em