{{ partial "head.html" . }}

<body onload="search()">
  <div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer">
      <section class="archives-wrap">
        <div class="archive-category-wrap">
          <span class="archive-category">{{ .Title }}</span>
        </div>
        <div class="archives">
        </div>
      </section>
    </section>
    {{ partial "footer.html" . }}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{{ .Site.BaseURL }}/js/search.js"></script>
</body>

</html>
