<div id="gitalk-container"></div>

{{ $gitalk := resources.Get "javascript/gitalk.min.js" | fingerprint | resources.PostProcess }}
{{ if .Site.IsServer }}
<script src="{{ $gitalk.RelPermalink }}"></script>
{{ else }}
<script src="{{ $gitalk.RelPermalink }}" integrity="{{ $gitalk.Data.Integrity }}"></script>
{{ end }}

<script>
    const gitalk = new Gitalk({
        clientID: '3602f13417f7111e23ea',
        clientSecret: '32e8180a26c79bce39b41187e562120735764e05',
        repo: 'blog',
        owner: 'Xuanwo',
        admin: ['Xuanwo'],
        id: location.pathname,
        labels: [],
        distractionFreeMode: false,
        proxy: "https://xuanwo.io/api/cors/"
    })

    gitalk.render('gitalk-container')
</script>
