<footer>
    <div class="container">
        <div class="flex flex-col md:flex-row justify-between py-4">
            <div class="flex-shrink-0 flex flex-wrap md:w-1/3 mt-4 md:mt-0">
                {{ range .Site.Menus.footer }}
                    <span class="flex-shrink-0 w-1/5 mb-2 text-center lg:text-left"><a class="footer-link relative text-gray-500 hover:text-gray-100 hover:no-underline" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                </span>
                {{ end }}
            </div>
            <ul class="flex sm:w-1/2 md:w-1/3 text-center lg:text-right">
                {{ range .Site.Menus.icon }}
                    <li class="w-1/4">
                        <a class="text-gray-500 hover:text-gray-800" href="{{ .URL }}"><i class="fas fa-{{ .Name }}"></i>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.2.0/dist/algoliasearch-lite.umd.js" integrity="sha256-KiHRWUnyloQ6hvdcRAfi7hwExmviOdyWTRFBLmDNhHc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/autocomplete.js@0.37.1/dist/autocomplete.min.js" integrity="sha256-YVWQosorZnr6fALvOW9VALYuInld27RkSPkElGBdCaU=" crossorigin="anonymous"></script>

    {{ $algolia := resources.Get "javascript/algolia_search.js" | minify | fingerprint | resources.PostProcess }}
    {{ if .Site.IsServer }}
    <script defer src="{{ $algolia.RelPermalink }}"></script>
    {{ else }}
    <script defer src="{{ $algolia.RelPermalink }}" integrity="{{ $algolia.Data.Integrity }}"></script>
    {{ end }}
</footer>
