<header class="mx-auto">
    <h1 class="text-center lg:text-left text-4xl text-gray-900 font-medium m-0">
        <a class="text-gray-900" href="{{ .Site.BaseURL | relLangURL }}">{{ i18n "site_title" }}</a>
    </h1>
    <div class="lg:flex text-center justify-between">
        <p class="text-lg text-gray-600">{{ i18n "site_description" }}</p>
        <nav class="my-auto">
            <ul class="justify-center flex flex-wrap list-disc list-inside">
                {{ range .Site.Menus.icon }}
                <li class="list-none mx-2">
                    <a class="text-gray-600" href="{{ .URL | relLangURL }}">
                        <i class="text-2xl fas fa-{{ .Name }}"></i>
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
    <nav class="text-center border-t border-b px-1 mt-4">
        <ul class="list-disc list-inside">
            {{ range .Site.Menus.footer }}
            <li class="inline-block list-none mx-4">
                <a href="{{ .URL | relLangURL }}">{{ i18n .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>
