@charset "utf-8";
@import "nib"
@import "_bass/variables"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

body
  background: color-background
  color: color-default
  font: font-size font-sans
  text-rendering: optimizelegibility
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@import "_bass/bass"
@import "_bass/syntax"
@import "_partial/header"
@import "_partial/article"
@import "_partial/article-gallery"
@import "_partial/article-nav"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/rwd"
@import "_partial/custom-layout"