{{ define "main" }}
    <ul>
        {{ range .Paginator.Pages }}
            <li class="grid grid-cols-12 mt-8">
                <div class="col-span-2 text-center">
                    <span class="block text-5xl font-semibold">{{ .Date.Format "02" }}</span>
                    <span class="block text-sm">{{ .Date.Format "Jan 2006" }}</span>
                </div>
                <div class="col-span-10">
                    <h3 class="leading-relaxed mb-0 mt-0">
                        <a href="{{ .RelPermalink }}">
                            {{ .Title }}
                        </a>
                    </h3>
                    <span class="leading-relaxed">
                            {{ if isset .Params "description" }}
                                {{ .Description }}
                            {{ else if gt (len .Plain) 120 }}
                                {{ slicestr .Plain 0 70 | htmlUnescape }}...
                            {{ else }}
                                {{ .Plain  | htmlUnescape }}
                            {{ end }}
				        </span>
                </div>
            </li>
        {{ end }}
    </ul>
    {{ partial "paginator.html" . }}
{{end}}
