{{ define "main" }}
    <div class="container py-16 mx-auto">
        {{ $categories := slice "Code" "Daily" "Game" "Travel" }}
        {{ range $value := $categories }}
            {{- if where $.Site.Pages "Params.categories" $value}}
                <div class="mt-8 mb-8">
                    <h2>{{ $value }}</h2>
                </div>
                <ul>
                    {{range first 5 (where $.Site.Pages "Params.categories" $value) }}
                        <li class="hover:bg-gray-100 border-4 border-transparent rounded">
                            <p class="p-1 lg:p-2">
                                <a class="text-black leading-normal" href="{{ .RelPermalink }}">
                                    <span>{{ .Title }}</span>
                                </a>
                            </p>
                        </li>
                    {{ end }}
                </ul>
            {{- end }}
        {{ end }}
    </div>
{{end}}