@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";


@media (prefers-reduced-motion: reduce) {
    *,
    *:before,
    *:after {
        animation-duration: 0s !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}

body {
    @apply font-light;
    line-height: 1.15;
}

strong {
    @apply font-semibold;
}

h1 {
    @apply font-bold text-4xl;
}

h2 {
    @apply font-bold text-2xl;
}

h3 {
    @apply font-semibold text-lg;
}

a {
    @apply no-underline text-indigo-500;

&
:hover {
    @apply underline;
}

}

p,
h2 {
    @apply my-4;
}

.post-content {
    @apply leading-medium;

h1,
h2 {
    @apply mt-10;
}

a {
    @apply relative text-black font-semibold;

&
:after {
    @apply bg-indigo-100;
    content: "";
    z-index: -1;
    position: absolute 70% -0.1px 0 -0.1px;
    transition: top 175ms ease-in-out;
}

&
:hover {
    @apply no-underline;

&
:after {
    @apply top-0;
}

}
}

img {
    @apply max-w-full bg-white;
}

}


table {
    @apply w-full mb-4 border;

    border-collapse: collapse;

td,
th {
    @apply align-top border p-1;
}

thead {

th {
    @apply border-b-2 align-bottom text-left;
}

}

tbody {

tr:nth-of-type(odd) {
    @apply bg-gray-200;
}

}
}

kbd {
    @apply text-white rounded text-sm py-1 px-2 bg-black;
}

p > code {
    @apply p-2px text-orange-500 bg-orange-100 rounded;
}

pre {
    @apply my-4 overflow-x-scroll py-2 px-4;

&
> code {
    @apply px-0 border-none;
}

}
&
img {
    size: 100%;
    object-fit: cover;
}

@media screen and (min-width: theme('screens.md')) {
& article:first-child,

& article:nth-child(4n) {
      grid-column: span 2;
      grid-row: span 2;
  }
}


.hobby-icon {
    size: 1.25em !important;
}

.btn {
    @apply bg-indigo-400 text-white rounded-full text-xs font-semibold;
    transition: all 350ms;
    padding: .25rem 1rem;
}

.algolia-autocomplete {
    width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
}
.algolia-autocomplete .aa-hint {
    color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}