<div id="recentcomments" class="dsq-widget">
	<h3 class="title">Recent Comments</h3>
	<script type="text/javascript" src="http://popozhu.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200&hide_mods=0"></script>
</div>
