---
layout: default
---

<div class="home">

    <h1 class="page-heading">Categories</h1>
    <ul class="orgnize-list">
        {% for category in site.categories %}
        <li>
            <a href="#{{ category | first }}">{{ category | first | capitalize }}</a>
        </li>
        {% endfor %}
    </ul>
    <ul class="post-list">
        {% for category in site.categories %}
        <li>
            <h2 id="{{ category | first }}">
                {{ category | first | capitalize }}: <span> {{ category | last | size }}</span>
            </h2>
            <ul class="organize-item">
                {% for post in category.last %}
                <li class="post-item">
                    <h3>
                        <a href="{{ post.url }}"><span class="post-time">{{ post.date | date:"%Y/%m/%d"}}</span> {{ post.title }}</a>
                    </h3>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
