---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">
            {{ page.title | escape }}
        </h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                发表于 {{ page.date | date: "%b %-d, %Y" }}
            </time>
            <span>
                | 分类于 <a href="/categories/#{{ page.categories | first }}">{{ page.categories | first | capitalize }}</a>
            </span>
        </p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div class="post-tags">
        {% for tag in page.tags %}
        <a href="/tags/#{{ tag }}">#{{ tag }}</a>
        {% endfor %}
    </div>

    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
</article>
