{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}

<main id="main-content">
    <div class="container">
        <h1>{{.Title}}</h1>
        <div class="tag-container">
            {{ $site := .Site }}
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms.Alphabetical }}
            <a href="{{ $site.LanguagePrefix }}/{{ $data.Plural }}/{{ $value.Name | urlize }}">
                <span>{{ $value.Name | title}}<strong class="count">{{ $value.Count }}</strong></span>

            </a>
            {{ end }}
        </div>
    </div>
</main>

{{ partial "footer.html" . }}
</body>
</html>