<li class="dropdown">
	<a id="id_blogroll" data-toggle="dropdown" data-toggle="dropdown" role="button" href="#">Blogroll</a>
	<ul class="dropdown-menu" aria-labelledby="id_blogroll" role="menu">
		<li role="presentation"><a role="menuitem" tabindex="-1" href="http://blog.cnbang.net/" target="_blank">bang's blog</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="http://hahack.com/" target="_blank">Joseph's blog</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="http://zipperary.com/" target="_blank">Zippera's Blog</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="http://coolshell.cn/" target="_blank">酷壳</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.ruanyifeng.com/blog/" target="_blank">阮一峰的网络日志</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.searchtb.com/" target="_blank">搜索技术博客－淘宝</a></li> 
		<li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.spinics.net/linux/" target="_blank">Rick's Linux Resources</a></li>
	</ul>
</li>
